In [1]:
name = 'Murugan'

In [2]:
name.upper()

'MURUGAN'

In [3]:
name.lower()

'murugan'

In [4]:
name.split('u')

['M', 'r', 'gan']

In [5]:
greeting = "Hi, My name is Python"

In [6]:
greeting.split()

['Hi,', 'My', 'name', 'is', 'Python']

In [7]:
greeting.split(' ')

['Hi,', 'My', 'name', 'is', 'Python']

In [8]:
is_count = greeting.count('is')

In [9]:
space_count = greeting.count(' ')

In [10]:
greeting.split('i')

['H', ', My name ', 's Python']

'String formatting'

In [11]:
'I can insert {} here and {} as a second word'.format('alpha','beta')

'I can insert alpha here and beta as a second word'

In [12]:
'Or I can change the order and I can insert {1} here and {0} as a second word'.format('alpha','beta')

'Or I can change the order and I can insert beta here and alpha as a second word'

In [16]:
#"We can also use variable and insert them directly like below"
"My name is {name} and my current role is {role} @ {company}".format(name='Murugan',role='TL',company='Infosys')

'My name is Murugan and my current role is TL @ Infosys'

In [6]:
name="Murugan";
role='TL';
company='Infosys';

In [22]:
#This below method works only in 3.6 version of python
#print(f'My name is {name}')
name + ' ' + role

'Murugan TL'

In [23]:
print("My name is %s and my current role is %s @ %r" %(name,role,company))

My name is Murugan and my current role is TL @ 'Infosys'

In [32]:
bigdecimalvalue=788347.8938934
floatvalue=100/333
print(floatvalue)
print("Flotin point with required decimal spaces like %1.4f" %(floatvalue))
print("Flotin point with required decimal spaces like %1.2f" %(bigdecimalvalue))
print("Flotin point with required decimal spaces like %21.6f" %(34.976)) #21. or 1. doesn't matters here, just adds space

0.3003003003003003
Flotin point with required decimal spaces like 0.3003
Flotin point with required decimal spaces like 788347.89
Flotin point with required decimal spaces like             34.976000

In [34]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))
print('{0:.<8} | {1:-^8} | {2:*>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33
11...... | ---22--- | ******33